:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.project-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-slider {
  width: 50%;
  background-color: grey;

}

.project-card {
  width: auto;
  background-color: green;
}

img {
  width: 100px;
}


.slick-slide>div {
  margin: 0 10px;
}


.slick-prev {
  /* left: 3% !important;
  z-index: 1; */
  background-color: red;
}

.slick-next {
  /* right: 3% !important;
  z-index: 1; */
  background-color: red;
}